.fondo-menu {
    background-color: #3871a0;
    max-height: 30px;
    color: #3871a0;
}

p.titulobloque {
    font-size: 1.1em;
}

.texto-menu {
    color: white;
    font-size: 1.1em;
}

.leyenda {
    padding-top: 15px;
    font-size: 1.2em;
}

.div-inicio {
    padding-bottom: 40px;
}

.div-main-content-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 400px;
}

.divtamaniomap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    //min-height: 600px;
    //min-width: 700px;
}

.colordescripcionmapa {
    background-color: #f4f4f4;
    overflow: scroll;
    max-height: 600px;
}

.div {
    width: 800px;
    text-align: justify;
}

.estilomapa {
    //overflow: scroll;
    max-height: 100%;
    max-width: 100%;
}

.menuprovincias {
    background-color: #f4f4f4;
    overflow: scroll;
    max-height: 140px;
}

.menuavanzado {
    max-height: 350px;
    margin-left: 1%;
}

p.descripcionProvincia {
    text-align: justify;
    font-size: 1.2em;
}

.tamaniomapa {
    min-height: 600px;
    min-width: 100%;
}

p.titulodescripcion {
    font-size: 1.4em;
}

a.elementomenu {
    font-size: 1.2em;
    margin: 3%;
}

.tamanio-letra {
    max-width: 20%;
}

#tamanioletra {
    max-width: 250px;
}

.menuaccesibilidad {
    margin-left: 1%;
    margin-bottom: 1%;
    border-color: #BBBBBB;
    background-color: #FFFFFF;
}

.elementoavanzado {
    border-color: #BBBBBB;
}

#letra {
    margin-left: 15%;
    margin-right: 15%;
}

#espaciado2 {
    max-width: 250px;
}

#espaciado {
    margin-left: 15%;
    margin-right: 15%;
}

.tituloprincipal {
    font-size: 2.2em;
}

a.opcionavanzada {
    background-color: #ffffff;
    color: #000000;
    border-color: #000000;
}

.subtitulos {
    margin-bottom: 3%;
}

.tituloinicial {
    border-color: #BBBBBB;
}

.back-to-top {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 90px;
    height: 90px;
    z-index: 100;
    display: none;
    text-decoration: none;
    /* color: #ffffff;
 background-color: #ff9000;*/
}

.back-to-top i {
    font-size: 60px;
}