<div>
    <p class="titulodescripcion">
        <%= tituloInformacionMapaVista %>
    </p>
</div>

<div>
    <p class="descripcionProvincia">
        <%= descripcionInformacionMapaVista %>
    </p>
</div>