<div class="divtamaniomap col-md-3 offset3 span6 colordescripcionmapa" tabindex="0">
    <%- partial ('../Mapa/menuMain.ejs') %>
</div>

<div class="col-md-8 estilomapa">
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d4083893.748700658!2d-82.73741421875!3d-1.6432662335969714!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sec!4v1458739915719" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen title="Mapa Geográfico Ecuador"></iframe>
    </div>
</div>

<div class="col-md-2 colordescripcionmapa">
</div>