<div class="container">
    <p class="titulobloque">Ecuador Map</p>
    <div>
        <div>
            <div>
                <p>
                    <a class="btn btn-default elementomenu subtitulos" href="/Mapa/provincias">Ecuador Political Map</a>
                </p>
            </div>
        </div>

        <div>
            <div>
                <p>
                    <a class="btn btn-default elementomenu subtitulos" href="/Mapa/capitales">Ecuador Capital Map</a>
                </p>
            </div>
        </div>

        <div>
            <div>
                <p>
                    <a class="btn btn-default elementomenu subtitulos" href="/Mapa/ferrea">Ecuador Railway Map</a>
                </p>
            </div>
        </div>
    </div>
</div>