<div class="container">
    <p class="titulobloque">Ecuador Capitals</p>
    <div>
        <div>
            <div>
                <p class="">
                    <a data-toggle="collapse" class="btn btn-default elementomenu" href="#collapse1">
                        Ecuador Capitals
                    </a>
                </p>
            </div>

            <div id="collapse1" class="panel-collapse collapse menuprovincias">
                <ul class="list-group ">
                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/capitales/7">Cuenca</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/capitales/10">Guaranda</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/capitales/8">Azogues</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/capitales/17">Tulcan</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/capitales/9">Riobamba</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/capitales/13">Latacunga</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/capitales/5">Machala</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/capitales/1">Esmeraldas</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/capitales/24">Puerto Baquerizo Moren</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/capitales/4">Guayaquil</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/capitales/16">Ibarra</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/capitales/6">Loja</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/capitales/11">Babahoyo</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/capitales/2">Portoviejo</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/capitales/22">Macas</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/capitales/20">Tena</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/capitales/19">Puerto Francisco de Orellana</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/capitales/21">Puyo</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/capitales/15">Quito</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/capitales/3">Santa Elena</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/capitales/14">Santo Domingo de los Tsachilas</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/capitales/18">Nueva Loja</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/capitales/12">Ambato</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/capitales/23">Zamora Chinchipe</a></li>
                </ul>
            </div>
        </div>
    </div>

    <p class="titulobloque">Ecuador Maps</p>
    <div>
        <div>
            <div>
                <p class="">
                    <a class="btn btn-default elementomenu subtitulos" href="/Mapa/provincias">Ecuador Political Map</a>
                </p>
            </div>
        </div>

        <div>
            <div>
                <p class="">
                    <a class="btn btn-default elementomenu subtitulos" href="/Mapa/ferrea">Ecuador Railway map</a>
                </p>
            </div>
        </div>

        <div>
            <div>
                <p class="">
                    <a class="btn btn-default elementomenu subtitulos" href="/Mapa/main">Ecuador Geographic Map</a>
                </p>
            </div>
        </div>
    </div>
</div>