<div class="container">
    <p class="titulobloque">Metro Montreal</p>
    <div>
        <div>
            <div>
                <p class="">
                    <a data-toggle="collapse" class="btn btn-default elementomenu" href="#collapse1">
                        Stations
                    </a>
                </p>
            </div>

            <div id="collapse1" class="panel-collapse collapse menuprovincias">
                <ul class="list-group ">

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/metro/1">Le Carrefour</a>
                    </li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/metro/2">Saint-Martin</a>
                    </li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/metro/3">Notredame</a>
                    </li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/metro/4">Chomedey</a>
                    </li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/metro/5">Gouin</a>
                    </li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/metro/6">Bois-Franc</a>
                    </li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/metro/7">Pourier</a>
                    </li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/metro/8">Côte-Vertu</a>
                    </li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/metro/9">Du Cóllege</a>
                    </li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/metro/10">De la savane</a>
                    </li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/metro/11">Namur</a>
                    </li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/metro/12">Plamondon</a>
                    </li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/metro/13">Cóte-Sainte-Catherine</a>
                    </li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/metro/14">Snowdon</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <p class="titulobloque">Ecuador Maps</p>
    <div>
        <div>
            <div>
                <p class="">
                    <a class="btn btn-default elementomenu subtitulos" href="/Mapa/provincias">Ecuador Political Map</a>
                </p>
            </div>
        </div>

        <div>
            <div>
                <p class="">
                    <a class="btn btn-default elementomenu subtitulos" href="/Mapa/ferrea">Ecuador Railway map</a>
                </p>
            </div>
        </div>

        <div>
            <div>
                <p class="">
                    <a class="btn btn-default elementomenu subtitulos" href="/Mapa/main">Ecuador Geographic Map</a>
                </p>
            </div>
        </div>
        <div>
            <div>
                <p class="">
                    <a class="btn btn-default elementomenu subtitulos" href="/Mapa/capitales">Ecuador Capital map</a>
                </p>
            </div>
        </div>
    </div>
</div>