<div class="container">
    <p class="titulobloque">Rutas ferroviarias del Ecuador</p>
    <div class="">
        <div class="">
            <div class="">
                <p class="">
                    <a data-toggle="collapse" class="btn btn-default elementomenu" href="#collapse1">Railway routes</a>
                </p>
            </div>

            <div id="collapse1" class="panel-collapse collapse menuprovincias">
                <ul class="list-group ">
                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/ferrea/1">San Lorenzo - Lita</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/ferrea/2">Lita - Carchi</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/ferrea/3">Carchi - Salinas</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/ferrea/4">Salinas - Ibarra</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/ferrea/5">Ibarra - Otavalo</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/ferrea/6">Otavalo - Quito</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/ferrea/7">Quito - Latacunga</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/ferrea/8">Latacunga - Ambato</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/ferrea/9">Ambato - Urbina</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/ferrea/10">Urbina - Riobamba</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/ferrea/11">Riobamba - Alausí</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/ferrea/15">Bucay - Milagro</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/ferrea/16">Milagro - Yaguachi</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/ferrea/17">Yaguachi - Duran</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/ferrea/19">El Tambo - Coyoctor</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/ferrea/20">Coyoctor - Cuenca</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/ferrea/14">Huigra - Bucay</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/ferrea/13">Simbabe - Huigra</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/ferrea/12">Alausí - Simbabe</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/ferrea/18">Huigra - El Tambo</a></li>


                </ul>
            </div>
        </div>
    </div>

    <p class="titulobloque">Ecuador Maps</p>
    <div>
        <div>
            <div>
                <p>
                    <a class="btn btn-default elementomenu subtitulos" href="/Mapa/capitales">Ecuador Capitals Map</a>
                </p>
            </div>
        </div>

        <div>
            <div>
                <p>
                    <a class="btn btn-default elementomenu subtitulos" href="/Mapa/provincias">Ecuador Political Map</a>
                </p>
            </div>
        </div>

        <div>
            <div>
                <p>
                    <a class="btn btn-default elementomenu subtitulos" href="/Mapa/main">Ecuador Geographic Map</a>
                </p>
            </div>
        </div>
       <div>
    <div>
        <p>
            <a class="btn btn-default elementomenu subtitulos" href="/Mapa/metro">Montreal Metro</a>
        </p>
    </div>
</div>
    </div>
</div>