<div class="container">
    <p class="titulobloque">Metro Montreal</p>
    <div>
        <div>
            <div>
                <p class="">
                    <a data-toggle="collapse" class="btn btn-default elementomenu" href="#collapse1">
                        Stations
                    </a>
                </p>
            </div>

            <div id="collapse1" class="panel-collapse collapse menuprovincias">
                <ul class="list-group ">

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/capitales/23">Zamora Chinchipe</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <p class="titulobloque">Ecuador Maps</p>
    <div>
        <div>
            <div>
                <p class="">
                    <a class="btn btn-default elementomenu subtitulos" href="/Mapa/provincias">Ecuador Political Map</a>
                </p>
            </div>
        </div>

        <div>
            <div>
                <p class="">
                    <a class="btn btn-default elementomenu subtitulos" href="/Mapa/ferrea">Ecuador Railway map</a>
                </p>
            </div>
        </div>

        <div>
            <div>
                <p class="">
                    <a class="btn btn-default elementomenu subtitulos" href="/Mapa/main">Ecuador Geographic Map</a>
                </p>
            </div>
        </div>
        <div>
            <div>
                <p class="">
                    <a class="btn btn-default elementomenu subtitulos" href="/Mapa/capitales">Ecuador Capital map</a>
                </p>
            </div>
        </div>
    </div>
</div>