<div class="container">
    <p class="titulobloque">Provinces of Ecuador</p>
    <div>
        <div>
            <div>
                <p>
                    <a data-toggle="collapse" class="btn btn-default elementomenu subtitulos" href="#collapse1">Provinces of Ecuador</a>
                </p>
            </div>

            <div id="collapse1" class="panel-collapse collapse menuprovincias">
                <ul class="list-group ">
                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/provincias/7">Azuay</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/provincias/10">Bolívar</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/provincias/8">Cañar</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/provincias/17">Carchi</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/provincias/9">Chimborazo</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/provincias/13">Cotopaxi</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/provincias/5">El oro</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/provincias/1">Esmeraldas</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/provincias/24">Galapagos</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/provincias/4">Guayas</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/provincias/16">Imbabura</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/provincias/6">Loja</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/provincias/11">Los Ríos</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/provincias/2">Manabí</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/provincias/22">Morona Santiago</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/provincias/20">Napo</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/provincias/19">Orellana</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/provincias/21">Pastaza</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/provincias/15">Pichincha</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/provincias/3">Santa Elena</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/provincias/14">Santo Domingo</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/provincias/18">Sucumbíos</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/provincias/12">Tungurahua</a></li>

                    <li class="list-group-item elementoavanzado">
                        <a class="elementoavanzado" href="/Mapa/provincias/23">Zamora Chinchipe</a></li>

                </ul>
            </div>
        </div>
    </div>

    <p class="titulobloque">Ecuador Maps</p>
    <div>
        <div>
            <div>
                <p>
                    <a class="btn btn-default elementomenu subtitulos" href="/Mapa/capitales">Ecuador Capitals Map</a>
                </p>
            </div>
        </div>

        <div>
            <div>
                <p>
                    <a class="btn btn-default elementomenu subtitulos" href="/Mapa/ferrea">Ecuador Railway Map</a>
                </p>
            </div>
        </div>

        <div>
            <div>
                <p>
                    <a class="btn btn-default elementomenu subtitulos" href="/Mapa/main">Ecuador Geographic Map</a>
                </p>
            </div>
        </div>

        <div>
            <div>
                <p>
                    <a class="btn btn-default elementomenu subtitulos" href="/Mapa/metro">Montreal Metro</a>
                </p>
            </div>
        </div>
    </div>
</div>